<div class="col-12 row mx-auto py-5 px-5">
    <div class="col-4 mx-auto">
        <div class="card" style="background-color: #f3f3f3">
            <%= image_tag "picture_of_house_1", class: "card-img-top", alt: "Alt Text" %>
         	<div class="card-body">
                <h5 class="card-title">5 bd 3 ba 1,957 sqft</h5>
           	    <p class="card-text">Sprawled across a gorgeous street in the sought-after city of Porter Ranch, a spacious 5 bedroom, 3 bathroom, 1,957-sqft picturesque home awaits! A tall prominent tree and lively foliage decorating the exterior featuring a large driveway and brick lined path leading up to a double door entry. Enter this 5-bedroom, 3-bathroom, home and be met with a tiled entryway that flows into a large living room and formal dining room adjoined by honey color laminate floors and highlighted by large French windows.</p>
                <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
         	</div>
	    </div>
    </div>
    <div class="col-4 mx-auto">
        <div class="card" style="background-color: #f3f3f3">
         	<%= image_tag "picture_of_house_2", class: "card-img-top", alt: "Alt Text" %>
         	<div class="card-body">
                <h5 class="card-title">3 bd 2 ba 1,487 sqft</h5>
           	    <p class="card-text">Enjoy your privacy without giving up the perks of a city. Journey into this 3-bedroom, 2-bathroom single family home that sits on a quiet street that is just a couple of blocks from shopping, dining, and parks. Flawless landscaping details the exterior with palm trees giving that seaside feel of Long Beach. Upon entering you are greeted with a bright and airy space featuring honey toned wood like flooring that extends to a potential dining room, recessed lighting, and all stone floor to ceiling fireplace.</p>
                <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
            </div>
        </div>    
    </div>
    <div class="col-4 mx-auto">
        <div class="card" style="background-color: #f3f3f3">
         	<%= image_tag "picture_of_house_3", class: "card-img-top", alt: "Alt Text" %>
         	<div class="card-body">
                <h5 class="card-title">3 bd 1 ba 1,013 sqft</h5>
           	    <p class="card-text">Located in the heart of Northridge, very close to shopping and dining, sits a 1013 sqft, 3-bedroom, 1-bathroom, single family home, the perfect starter for any buyer. Leading up the house is a long driveway with a carport and room to park multiple cars. Welcome to an open floored space that features laminate flooring all throughout, extending to the dining room. With an easy flow, enter the kitchen that has tile flooring, for the convenience of easy maintenance, pale blonde cabinetry.</p>
                <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
            </div>
        </div>
    </div>
</div>